*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0 10% 0 10%;
}

.head{
    height: 60px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: darkgray;    
}

.sercher{
    height: 30px;
    width: 380px;
    border: 2px solid black;
    padding-left: 20px;
}

.click{
    height: 30px;
    width: 100px;
    font-weight: bold;
    background-color: rgb(0, 138, 180);
    border: 2px solid black;
    box-shadow: 3px 3px 3px;
}

.click:active{
    transform: scale(0.95);
}

.container{
    display: flex;
}

.main-con{
    flex: 2;
    margin: 10px;
    margin-left: 0;
}

.inner-content{
    display: flex;
    padding: 10px;

}

.card{
    border: 2px solid black;
    margin-bottom: 20px;

}

.aside{
    flex: 1;
    padding: 20px;
}

.dicc{
    margin-bottom: 20px;
    font-size: 20px;
}

.text{
    flex: 2;
    padding-top:20px;
    font-size: 25px;
}

.y-click{
    height: 30px;
    width: 100px;
    font-weight: bold;
    background-color: rgb(237, 225, 0);
    border: 2px solid black;
    box-shadow: 3px 3px 3px;
}

.y-click:active{
    transform: scale(0.95);
}

.g-click{
    height: 30px;
    width: 100px;
    font-weight: bold;
    background-color: rgba(109, 255, 153, 0.717);
    border: 2px solid black;
    box-shadow: 3px 3px 3px;
}

.g-click:active{
    transform: scale(0.95);
}

.r-card{
    flex:1;
    height: fit-content;
    border: 2px solid black;
    margin: 10px;
    margin-right: 0;
    font-size: 25px;
    padding: 10px;
    

}

.tittle{
    margin-bottom: 20px;
}